@{
    ViewBag.Title = "Home Page";
}

<! DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Love of Leather Shop</title>
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Rye" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="Site.css">
</head>
<body>
    <div id="siteWrapper" class="clearfix">
        <header id="header">
            <div id="logo">
                <img src="/Content/image/Logos/lollogotop.jpg">
                <p>HAND CRAFTED LEATHER GOODS</p>
                <p>
                    <a href="product.html">SHOP</a>
                </p>
            </div>
        </header>
        <main>
            <div class="banner">
                <img src="/Content/image/Logos/banner.jpg">
            </div>

            <div id="content">
                <div class="KeyChainsGallery">
                    <p>Customized Key Chains</p>
                    <img src="~/Content/image/ProductPics/IMG_0064.jpg">
                    <img src="~/Content/image/ProductPics/IMG_9803.jpg">
                    <img src="~/Content/image/ProductPics/IMG_8830.jpg">
                    <img src="~/Content/image/ProductPics/IMG_9803.jpg">
                </div>   
                <div class="KeychainData">
                    <p>CUSTOMIZE YOUR KEYCHAIN: </p>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Color
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Dark Brown</a></li>
                            <li><a href="#">Medium Brown</a></li>
                        </ul>
                   </div>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            End Type
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Rounded V Point</a></li>
                            <li><a href="#">Flagged Point</a></li>
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Enter text you want stamped here" aria-describedby="basic-addon1">
                    </div>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#">ADD TO CART</a></li>
                        <li role="presentation"><a href="#">DELETE ORDER</a></li>                      
                    </ul>
                </div>
            </div>
        </main>
        <div id="preFooter">
            <div class="horizontal-break">
                <hr>
            </div>
            <div class="bootstrap">
                <div class="block-content">
                    <h2 class="text-align-center">About Love of Leather</h2>
                    <blockquote class="text-align-center">
                        Handcrafted in the heart of Kentucky. Quality materials, expert craftsmanship and attention to detail. 
                        English bridle leathers and American vegetable tanned leathers are the base of all products.
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div id="foot-bar">
            <nav class="icon-list">
                <a href="https://www.instagram.com/love_of_leather"><img src="/Content/image/Logos/glyph-logo_May2016.png" alt"instagram="" logo"=""></a>
                <a href=""><img src="/Content/image/Logos/mail.png"></a><!--this is where the email link goes-->
            </nav>
        </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>